.result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .container {
    width: 60%;
    .header {
      background-color: #fff;
      border: 1px solid rgb(218, 220, 224);
      border-radius: 8px;
      margin-bottom: 12px;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 30px;
    }
    .header::after {
      content: "";
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      background-color: #1677ff;
    }
    .form__item {
      //   width: fit-content;
      background-color: #fff;
      border: 1px solid rgb(218, 220, 224);
      border-radius: 8px;
      margin-bottom: 12px;
      padding: 24px;
    }
    .radio {
      span {
        color: black;
        font-weight: bold;
      }
      .true {
        span {
          color: #87d068;
        }
      }
      .false {
        span {
          color: #f50;
        }
      }
    }
    .tag {
      padding: 5px;
      width: 40px;
      text-align: center;
      font-weight: bold;
    }
  }
}
