.createQuestion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .container {
    position: relative;
    width: 60%;
    .header {
      background-color: #fff;
      border: 1px solid rgb(218, 220, 224);
      border-radius: 8px;
      margin-bottom: 20px;
      position: relative;
      overflow: hidden;
      padding: 10px 10px 50px 10px;
    }
    .header::after {
      content: "";
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 10%;
      background-color: #ea4335;
    }
    .title {
      width: 100%;
      display: block;
      font-size: 2em;
      margin-block-start: 0.67em;
      margin-block-end: 0.67em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;
      transition: linear 200ms;
      &:focus {
        border-bottom: 3px solid #1677ff;
      }
    }
    .form__item {
      overflow: hidden;
      position: relative;
      background-color: #fff;
      border: 1px solid rgb(218, 220, 224);
      border-radius: 8px;
      margin-bottom: 20px;
      padding: 24px;

      .textArea {
        font-size: 18px;
        font-weight: bold;
      }
    }
    .radio {
      font-weight: bold;
    }
    .space {
      width: 100%;
    }
    .radio__group {
      display: block;
    }
    .side-bar {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #fff;
      border: 1px solid rgb(218, 220, 224);
      border-radius: 8px;
      padding: 10px;
      position: fixed;
      top: 50%;
      left: 82%;
      .item {
        margin-bottom: 15px;
      }
    }
  }
}
@media (max-width: 992px) {
  .createQuestion {
    .container {
      width: 100%;
      .side-bar {
        flex-direction: row;
        position: sticky;
        .item {
          margin: 0;
          margin-right: 15px;
        }
      }
    }
  }
}
