.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    font-weight: bold;
    font-size: 40px;
  }
  a {
    color: black;
    padding: 15px;
    font-size: 18px;
    margin-right: 5px;
    border-radius: 8px;
    &:hover {
      background-color: #1677ff;
      color: white;
    }
  }
  .active {
    background-color: #1677ff;
    color: white;
  }
}
