.ModelLogin {
  .ant-space {
    width: 100%;
    .ant-space-item {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  a {
    color: #f77260;
  }
  .form {
    width: 100%;
  }
}
